 <div class="form-group">
 <ui-switch ng-model="rememberMe"></ui-switch>
 <div ng-if="rememberMe == true">
 <div style="color:white">
<h1>Residence</h1>
<div>Hotel Name: &nbsp;  Hayatt</div>
<div>Hotel Addrss: &nbsp;  Gachibowli, Hyderabad</div>
<div>Hotel Contact: &nbsp;  +91 40 4949 1234</div>
</div>

</div>
<div ng-if="rememberMe == false">

<div style="color:white">
<h1>Office</h1>
<div>Name: &nbsp;  Capgemini</div>
<div>Addrss: &nbsp;  Gachibowli, Hyderabad</div>
<div>Contact: &nbsp;  040 2312 6000</div>
</div>
<div style="color:white">
<h1>Escort</h1>
<div>Name: &nbsp;  Shankar</div>
<div>Contact: &nbsp;  +91 9966443322</div>
<div>Name: &nbsp;  Shiva</div>
<div>Contact: &nbsp;  +91 9888786858</div>
<div>Name: &nbsp;  Pawan</div>
<div>Contact: &nbsp;  +91 9234567839</div>
</div>
<hr>
</div>
 </div>