<div ng-controller="collapseDemoCtrl">
	<button class="btn btn-default" ng-click="isCollapsedJune = !isCollapsedJune">@June 2015</button>
	<hr>
	<div collapse="isCollapsedJune">
		<div class="well well-lg">Capgemini announced as a recipient of two Pegasystems Partner Excellence Awards</div> 
	</div>
	
	<button class="btn btn-default" ng-click="isCollapsedMay = !isCollapsedMay">@May 2015</button>
	<hr>
	<div collapse="isCollapsedMay">
		<div class="well well-lg">Capgemini launches a capital increase in the context of the financing of the IGATE acquisition</div> 
	</div>
	
	<button class="btn btn-default" ng-click="isCollapsedApril = !isCollapsedApril">@April 2015</button>
	<hr>
	<div collapse="isCollapsedApril">
		<div class="well well-lg">Success of the capital increase launched for the financing of the IGATE acquisition</div> 
	</div>
	
</div>